In [ ]:
PANDAS

In [10]:
import pandas as pd
import numpy as np

In [6]:
f = pd.read_csv("C://Users/aleks/Downloads/Telegram Desktop/use.csv")
f

     Математика  Физика  Русский язык
0           100     100           100
1           100     100           100
2           100     100           100
3           100     100           100
4            99     100           100
..          ...     ...           ...
900          72      64            78
901          78      57            80
902          70      60            80
903          70      57            69
904          62      61            76

[905 rows x 3 columns]

In [61]:
dic = dict()
dic["number_of_students"] = len(f)
dic["mean_math"] = np.mean(f["Математика"])
dic["mean_russian_for_physicists"] = np.mean(f[f["Физика"] == 100]["Русский язык"])
f["count"] = 1
dic["agg_math"] = f.groupby("Математика").agg({"Физика" : "max", "Русский язык" : "min"})
dic["agg_math_count"] = f.groupby("Математика").agg({"count" : "sum"})
f["coin"] = abs(f["Математика"] - f["Физика"]) + abs(f["Физика"] - f["Русский язык"]) + abs(f["Математика"] - f["Русский язык"])
dic["number_coincidence"] = len(f[f["coin"] == 0])
dic["sum"] = pd.Series(f["Математика"] + f["Физика"] + f["Русский язык"])
f["sumn"] = f["Математика"] + f["Физика"] + f["Русский язык"]
f["countsum"] = 1
s = f.groupby("sumn").agg({"countsum" : "sum", "sumn": lambda x : x})
dic["max_number_coincidence"] = max(s[s['countsum'] == 1]["sumn"])
dic

{'number_of_students': 905,
 'mean_math': 89.24088397790055,
 'mean_russian_for_physicists': 91.77372262773723,
 'agg_math':             Физика  Русский язык
 Математика
 62              87            76
 68              85            80
 70              80            69
 72             100            78
 74              95            72
 76              99            78
 78             100            70
 80             100            71
 82             100            73
 84             100            67
 86             100            73
 88             100            60
 90             100            78
 92             100            72
 93              95            87
 94             100            73
 95              98            76
 96             100            72
 98             100            78
 99             100            72
 100            100            73,
 'agg_math_count':             count
 Математика
 62              5
 68              4
 70              6
 72              8
 74             13
 76             16
 78             34
 80             41
 82             57
 84             64
 86             90
 88             84
 90             83
 92             78
 93              1
 94             84
 95              4
 96             67
 98             56
 99             42
 100            68,
 'number_coincidence': 6,
 'sum': 0      300
 1      300
 2      300
 3      300
 4      299
       ...
 900    214
 901    215
 902    210
 903    196
 904    199
 Length: 905, dtype: int64,
 'max_number_coincidence': 293}